* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  --white: #ffffff;
  --grey: #f6f6f6;
  --brown: #6c4c40;
  --blue: #19b6fe;
  --light-blue: #9af1ff;
  --black: #373434;
  /* Polaroid colors */
  --pink: #e272a1;
  --orange: #ff7143;
  --mustard: #fdca28;
  --yellow: #ffec3c;
  --green: #89c447;
  font-size: 65%;
  color: var(--brown);
}

body {
  background-color: var(--grey);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 34.6rem;
  margin-top: 3.1rem;
  font-size: 1.8rem;
  font-weight: 500;
}

nav a,
nav a:visited {
  color: var(--brown);
}

nav a:hover {
  color: var(--blue);
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.boxWhite {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 43.5rem;
  height: 43.5rem;
  background-color: var(--white);
  border-radius: 4rem;
  box-shadow: -3px 3px 0px #e272a1, -6px 6px 0px #ff7143, -9px 9px 0px #fdca28, -12px 12px 0px #ffec3c,
    -15px 15px 0px #89c447, -18px 18px 0px #19b6fe;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--brown);
}

form p {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
}

form input {
  width: 90%;
  height: 3.8rem;
  margin-top: 2.4rem;
  padding: 1rem;
  border-radius: 1rem;
  border: #19b6fe solid 0.1rem;
}

form input::placeholder {
  padding-left: 1rem;
  font-size: 1.4rem;
  color: var(--brown);
}

form input:hover,
form input:focus {
  outline: none;
}

.buttons {
  margin-top: 2rem;
}

button {
  font-size: 1.4rem;
  font-weight: 500;
  min-width: 40%;
  padding: 1rem;
  margin: 5px;
  border-radius: 1rem;
  border-color: var(--mustard);
  box-shadow: 0 0 40px 40px var(--mustard) inset, 0 0 0 0 var(--mustard);
  transition: all 150ms ease-in-out;
  color: var(--black);
  cursor: pointer;
}

button:hover{
  box-shadow: 0 0 10px 0 var(--mustard) inset, 0 0 10px 4px var(--mustard);
}

#buttonAlbum {
  border-color: var(--pink);
  box-shadow: 0 0 40px 40px var(--pink) inset, 0 0 0 0 var(--pink);
}

#buttonAlbum:hover{
  box-shadow: 0 0 10px 0 var(--pink) inset, 0 0 10px 4px var(--pink);
}

.polaroidCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24rem;
  height: 32.2rem;
  background-color: var(--white);
  box-shadow: 24px 12px 50px rgba(0, 0, 0, 0.25);
}

.backgroudCard {
  background-color: var(--white);
}

.imgCard {
  margin-top: 1.85rem;
  background-color: var(--black);
  width: 20rem;
  height: 20rem;
}

.polaroidImage {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.polaroidContent {
  display: flex;
  margin-top: 1rem;
  max-width: 20rem;
  flex-direction: row;
  justify-content: space-between;
  color: var(--black);
}

.polaroidSubtitle {
  width: 70%;
  font-size: 1.4rem;
  font-weight: bolder;
  word-wrap: break-word;
}

.polaroidDate {
  width: 100px;
  font-size: 1.4rem;
  font-weight: bolder;
  text-align: right;
  color: var(--black);
}

.album h1{
  color: var(--brown);
}
@media (min-width: 768px) {
  .polaroidCard {
    width: 38rem;
    height: 46.2rem;
  }

  .imgCard {
    width: 34rem;
    height: 34rem;
  }

  .polaroidImage {
    width: 34rem;
    height: 34rem;
  }

  .polaroidContent {
    max-width: 34rem;
  }
}
